<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChartProviderDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <userSettings>
        <ChartProviderDemo.Properties.Settings>
            <setting name="xminMain" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="xmaxMain" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="xintMain" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="yminMain" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ymaxMain" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="yintMain" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="chartTypeMain" serializeAs="String">
                <value>Line</value>
            </setting>
            <setting name="lineWidthMain" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="isSingleColorMain" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="xminExtra" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="xmaxExtra" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="xintExtra" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="yminExtra" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ymaxExtra" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="yintExtra" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="chartTypeExtra" serializeAs="String">
                <value>Spline</value>
            </setting>
            <setting name="lineWidthExtra" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="isSingleColorExtra" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="yminSecond" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ymaxSecond" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="yintSecond" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="chartTypeSecond" serializeAs="String">
                <value>Line</value>
            </setting>
        </ChartProviderDemo.Properties.Settings>
    </userSettings>
</configuration>